@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --black: #000;
  --white: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/spacegrotesk/v16/V8mQoQDjQSkFtoMM3T6r8E7mF71Q-gOoraIAEj62UUsjNsFjTDJK.woff2') format('woff2');
}

body {
  color: var(--foreground);
  background: var(--black);
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  overscroll-behavior: none;
}

.disable-pointer {
  pointer-events: none !important;
}

.burger__btn.active .line-1 {
  transform: rotate(45deg);
}

.burger__btn.active .line-2 {
  opacity: 0;
}

.burger__btn.active .line-3 {
  transform: rotate(-45deg);
}
